@model EntityLayer.Concrete.Announcement
@{
    ViewData["Title"] = "AnnouncementDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Duyuru Detayları</h2>
<br />
<div>
    <form class="form-group">
        @Html.Label("Id")
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
        <br />
        @Html.Label("Açıklama")
        @Html.TextAreaFor(x => x.Content, 10, 3, new { @class = "form-control" })
        <br />
    </form>
</div>
