@using EntityLayer.Concrete
@model List<Experience>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-6">
    <div class="p-2">
        <button type="button" id="btngetlistall" class="btn btn-outline-primary">Verileri Getir</button>
        <button type="button" id="btnadd" class="btn btn-outline-info">Kaydet</button>
        <button type="button" id="btnid" class="btn btn-outline-success">Id İle Getir</button>
    </div>
</div>

<div class="p-2" id="listexperience">

</div>

<br />

<div class="col-md-12">
    <h5>Ekleme Paneli</h5>
    <input type="text" class="form-control" id="inpName" placeholder="Başlık" />
    <br />
    <input type="text" class="form-control" id="inpdate" placeholder="Tarih" />
</div>
<br />
<div class="col-md-12">
    <h5>Id'ye Göre Getirme Paneli</h5>
    <input type="text" class="form-control" id="inpid" placeholder="ID Giriniz" />
</div>

@section Scripts
{
    <script>

        $("#btngetlistall").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/ExperienceAjax/ListExperience/",

                 success: function (func) {

                    let values = jQuery.parseJSON(func);
                     console.log(values);

                     let htmlst = "<table class=table table-bordered> <tr> <th> ID </th> <th> Başlık </th> <th> Tarih </th> </tr>";
                     $.each(values, (index, value) => {
                         htmlst += `<tr> <td>${value.ExperienceID}</td> <td>${value.Name}</td> <td>${value.Date}</td> </tr>`
                     });

                     htmlst += "</table>";
                     $("#listexperience").html(htmlst);
                 }
            });
        });


        $("#btnadd").click(function ()
        {
            let values = {
                Name: $("#inpName").val(),
                Date: $("inpdate").val()
            };

            $.ajax({
                type: "Post",
                url: "/ExperienceAjax/AddExperience/",
                data: values,
                success: function (funk) {
                    let result = jQuery.parseJSON(funk);
                    alert(result.Name + "Başarılı bir şekilde eklendi");
                }
            });
        });

        $("#btnid").click(x => {
            let id = $("#inpid").val();

            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/ExperienceAjax/GetById/",
                data: { ExperienceID: id },
                success: function (fnc) {
                    console.log(fnc);
                }
            });


        });

    </script>
}

<script src="~/lib/jquery/dist/jquery.js"></script>