
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Areas/Writer/Views/Default/HeadPartial.cshtml")

<body>
    <div class="container-scroller">
        @Html.Partial("/Areas/Writer/Views/Default/_NavbarPartial.cshtml")
        <div class="container-fluid page-body-wrapper">
            @Html.Partial("/Areas/Writer/Views/Default/_SideBarPartial.cshtml")
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
                @Html.Partial("/Areas/Writer/Views/Default/FooterPartial.cshtml")
            </div>
        </div>
    </div>
    <script src="~/skydash/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/skydash/js/off-canvas.js"></script>
    <script src="~/skydash/js/hoverable-collapse.js"></script>
    <script src="~/skydash/js/template.js"></script>
    <script src="~/skydash/js/settings.js"></script>
    <script src="~/skydash/js/todolist.js"></script>
</body>
</html>